@-webkit-keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotation {
  -webkit-animation: rotation linear 20s infinite;
  animation: rotation linear 20s infinite;
}
