.table {
  width: 1100px;
  display: -ms-grid;
  display: grid;
  /*
  для ie/старого edge нужен нестандартный синтаксис
  https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/dev-guides/hh673533(v=vs.85)#repeating-grid-tracks
  */
  -ms-grid-columns: (250px)[4];
  grid-template-columns: repeat(4, 250px);
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
