.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/** Блок Шапки **/

.header {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  max-height: 756px;
  min-height: 600px;
  position: relative;
}

.header__title {
  align-self: center;
  font-size: 102px;
  margin: 0 0 0 64px;
  line-height: 96px;
  width: 730px;
}

.header__subtitle {
  bottom: 30px;
  font-size: 18px;
  left: 64px;
  line-height: 25px;
  position: absolute;
  width: 388px;
  z-index: 1;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:after {
  content: '→';
}

.header__main-illustration {
  background-image: url(../images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 608px;
  position: absolute;
  right: 0;
  width: 765px;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
}

/** Блок Лого **/

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  width: 183px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

/** Блок description **/

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/** Блок digits **/

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  margin: 0 0 20px;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.section-subtitle_theme_dark {
  color: #fff
}

/** Блок таблицы **/

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
}

/** Блок feinman **/

.feinman {
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feinman__title {
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  margin: 0 0 70px;
}

.feinman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
}

.feinman__link {
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
}

.feinman__link:after {
  content: '→';
}

/** Блок kaufman **/

.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/** Блок footer **/

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
